<!DOCTYPE html>
<html lang="en">

{{> headerKaryawan}}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Data Barang Masuk</h1>
                    <!-- Button trigger modal -->
                    <a href="/addBarangMasuk" class="btn btn-primary">Tambah Barang Masuk</a>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data Barang Masuk</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Kode Barang</th>
                                            <th>Nama Barang</th>
                                            <th>Supplier Barang</th>
                                            <th>Jumlah Barang</th>
                                            <th>Jumlah Masuk</th>
                                            <th>Tanggal Masuk</th>
                                            <th>Aksi</th>
                                      
                                        </tr>
                                    </thead>
                           
                                    <tbody>
                                        {{#each results}}
                                        <tr>
                                            <td>{{ kdbrg }}</td>
                                            <td>{{ nmbrg }}</td>
                                            <td>{{ supplier }}</td>
                                            <td>{{ jmlbrg }}</td>
                                            <td>{{ jmlmasuk }}</td>
                                            <td>{{ tglmasuk }}</td>
                                            
                                            
                                            <td><!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalhapus{{ id }}">
                                  Hapus Data
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modalhapus{{ id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Peringatan</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <b>Apakah Anda Yakin Ingin Menghapus ?</b> <br>

                                      
                                      
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       <a href="/hapusBarangMasuk/{{ id }}" class="btn btn-danger">Hapus</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                            
                            </td>
                                         
                                        </tr>
                                       {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{> footer}}

</body>

</html>